body{
    background-color:#1f1d1d;
    
    color:rgb(240, 240, 240);
    
    font-size: 130%;
    display: flex;
    justify-content: center;
    

    
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;
    flex-direction: column;
    height: 1200px;
    width: 80%;
    letter-spacing: -1px;
}

.texto{
    text-shadow: 2px 1px 0 #f4b5eb;
    
}

.botao{
    margin-top: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;
    background-color: #eea1e3;
    width: 43%;
    height: 10%;
    color: #363232;
    text-shadow: 2px 1px 0 #494343;
    border-radius: 4%;
}